/* :root {
    font-family: url("./Inter.ttf"), sans-serif;
} */

@font-face {
	font-family: "Inter";
	src: url("/Inter.ttf") format("truetype");
}
body {
	font-family: "Inter", sans-serif;
}

.pixel-img {
	image-rendering: pixelated;
}

.opacity-gradient {
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	mask-size: cover;
}
