/* :root {
    font-family: url("./Inter.ttf"), sans-serif;
} */

@font-face {
	font-family: "Inter";
	src: url("/Inter.ttf") format("truetype");
}
* {
	font-family: "Inter", sans-serif;
}

.pixel-img {
	image-rendering: pixelated;
}

.opacity-gradient {
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	mask-size: cover;
}

.glass {
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.2);
	/* border-radius: 16px; */
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(5px);
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.3);
}
.glass-shadow {
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
